 
<main class="main">
  <div class="container">
    <br>
    <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Enter Product Type (Valid Entries: 1 Milk , 2 Orange)
        </div>
        <div class="card-body">          
          <input type="text" #txtproductid class="form-control" placeholder="Enter Product Index" (keyup)="onChange(txtproductid.value)">         
        </div>
      </div>
      
       
    </div>
    
    <div class="col-6">
       
      <div class="card">
        <div class="card-header">
          You have Selected a Product
        </div>
        <div class="card-body">
          <h5 class="btn btn-secondary">{{result}}</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
    <div class="card">
      <div class="card-header">
        Bartender Joe
      </div>
      <div class="card-body">
        <h5 class="btn btn-secondary">{{drinks}}</h5>
       
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary" (click)="OnClick($event)">Mix Drink</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
  <div class="card">
    <div class="card-header">
      Logger
    </div>
    <div class="card-body">
      <b fascettracer>hello</b>    
    </div>
    
  </div>
</div>
</div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
